# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from matplotlib import pyplot as plt

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [7]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,71.80,62,0,7.72,clear sky
1,1,Touros,BR,-5.1989,-35.4608,75.65,75,1,13.58,clear sky
2,2,Kapaa,US,22.0752,-159.3190,76.98,92,40,4.61,light rain
3,3,Rikitea,PF,-23.1203,-134.9692,73.38,69,10,10.27,clear sky
4,4,Aswan,EG,24.0934,32.9070,100.47,16,0,9.19,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter Minimum Temperature :  "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter Maximum Temperature :  "))

Enter Minimum Temperature :  50
Enter Maximum Temperature :  80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [9]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,71.80,62,0,7.72,clear sky
1,1,Touros,BR,-5.1989,-35.4608,75.65,75,1,13.58,clear sky
2,2,Kapaa,US,22.0752,-159.3190,76.98,92,40,4.61,light rain
3,3,Rikitea,PF,-23.1203,-134.9692,73.38,69,10,10.27,clear sky
5,5,Arraial Do Cabo,BR,-22.9661,-42.0278,66.06,94,20,2.30,few clouds
6,6,Ribeira Grande,PT,38.5167,-28.7000,70.20,100,75,20.71,shower rain
8,8,Mumford,GH,5.2618,-0.7590,76.96,85,96,4.09,light rain
10,10,Yellowknife,CA,62.4560,-114.3525,57.72,72,100,6.91,overcast clouds
11,11,Saint George,US,37.1041,-113.5841,70.39,43,0,1.01,clear sky
12,12,Jumla,NP,29.2747,82.1838,67.80,63,39,5.12,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [12]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()


# Display sample data
clean_travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,71.80,62,0,7.72,clear sky
1,1,Touros,BR,-5.1989,-35.4608,75.65,75,1,13.58,clear sky
2,2,Kapaa,US,22.0752,-159.3190,76.98,92,40,4.61,light rain
3,3,Rikitea,PF,-23.1203,-134.9692,73.38,69,10,10.27,clear sky
5,5,Arraial Do Cabo,BR,-22.9661,-42.0278,66.06,94,20,2.30,few clouds
6,6,Ribeira Grande,PT,38.5167,-28.7000,70.20,100,75,20.71,shower rain
8,8,Mumford,GH,5.2618,-0.7590,76.96,85,96,4.09,light rain
10,10,Yellowknife,CA,62.4560,-114.3525,57.72,72,100,6.91,overcast clouds
11,11,Saint George,US,37.1041,-113.5841,70.39,43,0,1.01,clear sky
12,12,Jumla,NP,29.2747,82.1838,67.80,63,39,5.12,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [14]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy() 

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
0          Hermanus      ZA     71.80           clear sky -34.4187   19.2345
1            Touros      BR     75.65           clear sky  -5.1989  -35.4608
2             Kapaa      US     76.98          light rain  22.0752 -159.3190
3           Rikitea      PF     73.38           clear sky -23.1203 -134.9692
5   Arraial Do Cabo      BR     66.06          few clouds -22.9661  -42.0278
6    Ribeira Grande      PT     70.20         shower rain  38.5167  -28.7000
8           Mumford      GH     76.96          light rain   5.2618   -0.7590
10      Yellowknife      CA     57.72     overcast clouds  62.4560 -114.3525
11     Saint George      US     70.39           clear sky  37.1041 -113.5841
12            Jumla      NP     67.80    scattered clouds  29.2747   82.1838

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [15]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = " "

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,71.80,clear sky,-34.4187,19.2345,
1,Touros,BR,75.65,clear sky,-5.1989,-35.4608,
2,Kapaa,US,76.98,light rain,22.0752,-159.3190,
3,Rikitea,PF,73.38,clear sky,-23.1203,-134.9692,
5,Arraial Do Cabo,BR,66.06,few clouds,-22.9661,-42.0278,
6,Ribeira Grande,PT,70.20,shower rain,38.5167,-28.7000,
8,Mumford,GH,76.96,light rain,5.2618,-0.7590,
10,Yellowknife,CA,57.72,overcast clouds,62.4560,-114.3525,
11,Saint George,US,70.39,clear sky,37.1041,-113.5841,
12,Jumla,NP,67.80,scattered clouds,29.2747,82.1838,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [17]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [18]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params= params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [20]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,71.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Touros,BR,75.65,clear sky,-5.1989,-35.4608,INN NEW HORIZON
2,Kapaa,US,76.98,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Rikitea,PF,73.38,clear sky,-23.1203,-134.9692,People ThankYou
5,Arraial Do Cabo,BR,66.06,few clouds,-22.9661,-42.0278,Pousada Porto Praia
6,Ribeira Grande,PT,70.20,shower rain,38.5167,-28.7000,Quinta da Meia Eira
8,Mumford,GH,76.96,light rain,5.2618,-0.7590,Peace Guest House
10,Yellowknife,CA,57.72,overcast clouds,62.4560,-114.3525,The Explorer Hotel
11,Saint George,US,70.39,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
12,Jumla,NP,67.80,scattered clouds,29.2747,82.1838,Royal Garden Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [22]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,71.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Touros,BR,75.65,clear sky,-5.1989,-35.4608,INN NEW HORIZON
2,Kapaa,US,76.98,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Rikitea,PF,73.38,clear sky,-23.1203,-134.9692,People ThankYou
5,Arraial Do Cabo,BR,66.06,few clouds,-22.9661,-42.0278,Pousada Porto Praia
6,Ribeira Grande,PT,70.20,shower rain,38.5167,-28.7000,Quinta da Meia Eira
8,Mumford,GH,76.96,light rain,5.2618,-0.7590,Peace Guest House
10,Yellowknife,CA,57.72,overcast clouds,62.4560,-114.3525,The Explorer Hotel
11,Saint George,US,70.39,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
12,Jumla,NP,67.80,scattered clouds,29.2747,82.1838,Royal Garden Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [24]:
# Set the file name.
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [25]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [26]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 76.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 66.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>shower rain and 70.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Peace Guest House</dd>\n<dt>City</dt><dd>Mumford</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>light rain and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Explorer Hotel</dd>\n<dt>City</dt><dd>Yellowknife</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Royal Garden Hotel</dd>\n<dt>City</dt><dd>Jumla</dd>\n<dt>Country</dt><dd>NP</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 67.8 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [27]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -34.4187   19.2345
1   -5.1989  -35.4608
2   22.0752 -159.3190
3  -23.1203 -134.9692
5  -22.9661  -42.0278
6   38.5167  -28.7000
8    5.2618   -0.7590
10  62.4560 -114.3525
11  37.1041 -113.5841
12  29.2747   82.1838

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [36]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]


# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
plt.savefig("Vacation_Search/WeatherPy_vacation_map.png")